{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@modules": "./src/modules",
        "@models": "./src/models"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "babel-plugin-transform-typescript-metadata",
    "graphql-tag"
  ],
  "ignore": [
    "**/*.test.ts",
    "**/*.spec.ts"
  ]
}
